//font size

.font-6 {
  font-size: 6px;
}
.font-8 {
  font-size: 8px;
}
.font-9 {
  font-size: 9px;
}

.font-10 {
  font-size: 10px;
}
.font-11 {
  font-size: 11px !important;
}
.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-17 {
  font-size: 17px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}
.font-21 {
  font-size: 21px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-26 {
  font-size: 26px !important;
}

.font-28 {
  font-size: 28px;
}
.font-30 {
  font-size: 30px;
}
.font-32 {
  font-size: 32px;
}



// font-weight
.fw-3 {
  font-weight: 300 !important;
}
.fw-4 {
  font-weight: 400 !important;
}

.fw-5 {
  font-weight: 500 !important;
}

.fw-6 {
  font-weight: 600 !important;
}

.fw-7 {
  font-weight: 700 !important;
}
.fw-bold {
  font-weight: bold;
}

@media (max-width: 1440px) {
  .font-16 {
    font-size: 14px !important;
  }
  .font-14, .font-13 {
    font-size: 12px !important;
  }
  .font-12, .font-11 {
    font-size: 10px !important;
  }
}
