<div class="dashboard p-3">
  <div class="row mlr">
    <div class="col-6">
      <div class="card">
        <div class="bg-white pt-3 px-3">
          <div class="font-18 fw-6 theme-color">Tasks</div>
        </div>
        <div class="tabs">
          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Daily">
              <div class="bgGrey p-3">
                <div class="card card-body ht p-3">Daily</div>
                <div class="card card-body ht p-3"></div>
              </div>
            </mat-tab>
            <mat-tab label="Pending">
              <div class="bgGrey p-3">
                <div class="card card-body ht p-3">Pending</div>
                <div class="card card-body ht p-3"></div>
              </div>
            </mat-tab>
            <mat-tab label="Monthly">
              <div class="bgGrey p-3">
                <div class="card card-body ht p-3">Monthly</div>
                <div class="card card-body ht p-3"></div>
              </div>
            </mat-tab>
            <mat-tab label="Yearly">
              <div class="bgGrey p-3">
                <div class="card card-body ht p-3">Yearly</div>
                <div class="card card-body ht p-3"></div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="bg-white p-3">
          <div class="font-18 fw-6 theme-color">Trends</div>
        </div>
        <div class="bgGrey p-3">
          <div class="card ht p-3"></div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="bg-white p-3">
          <div class="font-18 fw-6 theme-color">Efficiency</div>
        </div>
        <div class="bgGrey p-3">
          <div class="card ht p-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
