<div class="side-nav pr-0">
  <div class="side-box">
    <div class="list">
      <img src="" alt="">
      Farzan Mirza
    </div>
    <div class="list">
      <img src="" alt="">
      Notifications
    </div>
    <div class="list">
      <img src="" alt="">
      Home
    </div>
    <div class="list" routerLinkActive="active" routerLink="/admin/dashboard">
      <img src="" alt="">
      Production
    </div>
    <div class="list">
      <img src="" alt="">
      Reports
    </div>
    <div class="list">
      <img src="" alt="">
      Planning
    </div>
    <div class="list">
      <img src="" alt="">
      Finances
    </div>
  </div>
</div>
